* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Assistant', sans-serif;
}

body {
  background: linear-gradient(180deg, #ffffff 0%, #edfff8 100%);
  background-repeat: no-repeat;
  min-height: 100vh;
}

.app_wrapper {
  height: 100vh;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  position: fixed;
  width: 100%;
  padding: 0 5rem;
  z-index: 99;
}

.nav_items {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav_items a {
  color: #4d4d4d;
  text-decoration: none;
  margin-left: 2.5rem;
  padding: 1rem 0;

  transition: 300ms;
}

.nav_items a:hover {
  color: #000;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.form_wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  max-width: 1920px;
  margin: 0 auto;
}

.left,
.right {
  display: flex;
  width: 50%;
  height: 100%;
}

.left {
  left: #fff;
  box-shadow: 4px 0px 24px -4px rgba(0, 0, 0, 0.08);
  padding: 0 9.56rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right {
  align-items: center;
  justify-content: center;
}

.right svg {
  width: 35rem;
}

.form {
  width: 28.9375rem;
}

.form header h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 3rem;
  line-height: 4.5rem;

  color: #001d0d;
}

.form header h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 3rem;
  line-height: 4.5rem;

  color: #001d0d;
}

.form header p {
  text-transform: uppercase;
  font-family: 'Poppins';
  font-size: 0.875rem;
  line-height: 1.3125rem;
  letter-spacing: 0.0938rem;
  color: #05b0b0;
  margin-bottom: -0.5rem;
}

.form form {
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}

.form button {
  background: linear-gradient(90deg, #54e1c8 0%, #3dcc7b 100%);
  height: 3.5rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0px 24px 32px -16px rgba(34, 149, 103, 0.4);

  color: #fff;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.16);
  width: 100%;
  text-rendering: optimizeLegibility;
  cursor: pointer;
  transition: 300ms;
}

.form button:hover {
  box-shadow: 0px 24px 40px -12px rgba(34, 149, 103, 0.568);
  transform: translateY(-5px);
}
.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input label {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: #121212;
  margin-bottom: 4px;
}

.input input {
  background: #f5f5f5;
  height: 3rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  padding: 1.0625rem 0.75rem 1.0625rem 1rem;
  font-size: 1rem;
  line-height: 1.3125rem;
  color: #121212;
}

.input input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.inputs {
  margin-bottom: 30px;
}

.info {
  font-size: 14px;
  line-height: 18px;
  color: #4d4d4d;
}

.info a {
  /* text-decoration: none; */
  color: #4d4d4d;
}

.info:last-child {
  text-align: center;
}

.ou p {
  color: #959595;
  font-size: 16px;
  line-height: 21px;
  padding: 1rem;
}

.ou .line {
  width: 146px;
  height: 1px;
  background: #c4c4c4;
  border-radius: 1px;
  /* margin: 0px 16px; */
}

.ou {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.redes {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 2.5rem;
}

.rede {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0px 10px 24px -10px rgba(0, 0, 0, 0.16);
  border-radius: 64px;
  transition: 300ms;
  cursor: pointer;
}

.rede:hover {
  box-shadow: 0px 10px 32px -8px rgba(0, 0, 0, 0.24);
  transform: translateY(-5px);
}

.rede img {
  width: 1.25rem;
  height: 1.25rem;
}
